<div class="text-center ">
  <h1>Bathrooms </h1>

  <div class="container">
    <% @bathrooms.each do |bathroom| %>
    <%= render "shared/bathroom", bathroom: bathroom %>
    <p><%= link_to 'Show', bathroom_path(bathroom), class: 'btn btn-default btn-show' %></p>
    <% end %>
  </div>
</div>
