<div class="footer-wrapper text row">
<div class="share-links text-center col-xs-12">
  <a href="#" class="share-link bg-facebook btn btn-default ">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="#" class="share-link bg-twitter btn btn-default ">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="#" class="share-link bg-email btn btn-default ">
    <i class="fa fa-envelope-o"></i>
  </a>
  <a href="#" class="share-link bg-text btn btn-default ">
    <i class="fa fa-mobile"></i>
  </a>
</div>
</div>
