#add_bathroom {
	margin-top: 100px;
}

.radio_inline {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
 }
.radio_inline input {
  display: inline;
 }
.radio_inline .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }