.btn-signup {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

#btn-login {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

#btn-send-forgot-mail {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

#btn-login-fb{
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

#btn-signup-email {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

#btn-show {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

.btn-edit-profil {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
  text-decoration: none;
}

#btn-booked {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
  background-color: red;
  color: white;
  text-decoration: none;
}

.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.bg-text:hover {
  background: #4a4a4a;
}
.bg-email:hover {
  background: #aeaeae;
}
.bg-twitter:hover {
  background: #00a3e1;
}
.bg-facebook:hover {
  background: #3b5998;
}

