.btn-signup {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

#btn-login {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

#btn-send-forgot-mail {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

#btn-login-fb{
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

#btn-signup-email {
  border-radius: 4px;
  border: 1px solid black;
  margin: 5px;
}

