.wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.grey-wrapper {
  background-color:#F4F4F4;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  max-width: 600px;
  border: 1px solid black;
  position: relative;
}

.footer-wrapper {
  background-color:#FFFFFF;
  padding: 20px;
  border: 1px
}




